{% extends 'base/main.html' %}
{% load static %}
{% load env_extras %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>

    <section id="video-streams"></section>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg' %}" />
        </div>
    </section>
    <script>
        // setup the video element and attach it to the Dash player
        function setupVideo() {
        var url = "mpeg-dash.mpd";
        var context = new Dash.di.DashContext();
        var player = new MediaPlayer(context);
                        player.startup();
                        player.attachView(document.querySelector("#video-streams"));
                        player.attachSource(url);
        }
    </script>
</main>


<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}" ></script>
{% endblock content %}